<div id="<%= dom_id booking %>">
  <p>
    <strong>Events:</strong>
    <%= booking.events_id %>
  </p>

  <p>
    <strong>Ticket:</strong>
    <%= booking.ticket %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= booking.users_id %>
  </p>

</div>
